@import "normalize.css";
@import "modules/_item";
@import "modules/_container";
@import "modules/_pages-bar";
@import "modules/_search-bar";

html {
    height: 100%
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: #29303E;
    min-height: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
}
